@{
    ViewData["Title"] = "Create Sales Order";
}

@section CSS {

}



<div class="container-fluid">
    <div class="row">


@*         <a class="btn btn-danger" onclick="openmodalAdd()" data-bs-toggle="modal" data-bs-target="#AddUserModal"><i class="ri-add-line align-bottom me-1"></i> Create A User</a>
 *@
       <div class="card">
           <div class="card-body">
                @*    Header Fields Section Starts here*@
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="CardCode" class="form-label">Customer</label>
                            <div class="input-group input-group">
                                <a class="input-group-text" data-bs-toggle="modal" data-bs-target="#CustomerlistModal"><i class="ri-file-list-fill"></i></a>
                                <input disabled type="text" id="CardCode" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>

                            <label for="CardName" class="form-label">Customer Name</label>
                            <input disabled class="form-control" id="CardName" />

                            <label for="ContactPerson" class="form-label">Contact Person</label>
                           
                            <select id="ContactPerson" class="form-control">
                             
                                </select>

                            <label for="CardName" class="form-label">Customer Ref No.</label>
                            <input class="form-control" id="CustomerRefNo" />

                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-6">
                                    <label for="CardCode" class="form-label">Series</label>
                                    <select class="form-control" id="Series">
                                        @foreach (var item in ViewBag.Series.value)
                                        {
                                            <option value="@item.Series">@item.SeriesName</option>
                                        }
                                      
                                    </select>

                                </div>
                                <div class="col-6">
                                    <label for="DocNum" class="form-label">No.</label>
                                    <input id="DocNum" disabled class="form-control" />

                                </div>
                            </div>

                            <label for="Status" class="form-label">Status</label>
                            <input disabled class="form-control" value="Open" id="Status" />


                            <label for="PostingDate" class="form-label">Posting Date</label>
                            <input type="date" class="form-control" id="PostingDate" />


                            <label for="DeliveryDate" class="form-label">Delivery Date</label>
                            <input type="date" class="form-control" id="DeliveryDate" />



                            <label for="DocumentyDate" class="form-label">Document Date</label>
                            <input type="date" class="form-control" id="DocumentDate" />

                        </div>

                    </div>
                </div>
                @*  Header Fields Section Ends Here *@
                <div class="col-12">
                    <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#ContentsTab" role="tab" aria-selected="false">
                                Contents
                            </a>
                        </li>
                      @*   <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#ContentsTab" role="tab" aria-selected="false">
                                Logistics
                            </a>
                        </li> *@
                       @*  <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#AccountingTab" role="tab" aria-selected="false">
                                Accounting
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#RemarksTab" role="tab" aria-selected="false">
                                Remarks
                            </a>
                        </li> *@
                       @*  <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#ActivitiesTab" role="tab" aria-selected="false">
                                Activities
                            </a>
                        </li> *@

                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="ContentsTab" role="tabpanel">
                            <partial name="~/Views/PartialLayouts/SaleOrder/_SaleOrderContentTab.cshtml"   />
                        </div>


                        <div class="tab-pane" id="LogisticsTab" role="tabpanel">
                        </div>
                        

                        <div class="tab-pane" id="RemarksTab" role="tabpanel">

                            <div class="col-6">
                                <label for="remarkst" class="form-label">Remarks</label>
                                <textarea type="text" class="form-control" id="remakst"></textarea>
                            </div>
                        </div>

                        <div class="tab-pane" id="AccountingTab" role="tabpanel">
                            <partial name="~/Views/PartialLayouts/SaleOrder/_saleorderaccountingtab.cshtml"   />
                        </div>


                    </div>

                       


                </div>

                <div class="col-12 mt-5">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="SalesEmployee" class="form-label">Sales Employee</label>
                            <select class="form-control" id="SalesEmployee">
                                
                                @foreach (var item in ViewBag.SalesPersons.value)
                                {
                                    <option value="@item.SlpCode">@item.SlpName</option>
                                }

                            </select>

                          @*   <label for="Owner" class="form-label">Owner</label>
                            <select class="form-control" id="Owner">
                            </select> *@

                            <label for="Comment" class="form-label">Comment</label>
                            <textarea rows="3" id="Comment" class="form-control"></textarea>

                        </div>
                        <div class="col-lg-4"></div>
                        @{
                            if (Context.Session.GetString("logintype") == "0")
                            {
                                                <div class="col-lg-5">
                                                    <div class="row">
                                                        <div class="col-6"></div>
                                                        <div class="col-6">
                                                            <label for="TotalBeforeDiscount" class="form-label">Total Before Discount</label>
                                                            <input type="number" disabled class="form-control" id="TotalBeforeDiscount" />
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="DiscountPercent" class="form-label">Discount Percent</label>
                                                            <input type="number" class="form-control" id="DiscountPercent" />
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="DiscountAmount" class="form-label">Discount Amount</label>
                                                            <input type="number" disabled class="form-control" id="DiscountAmount" />
                                                        </div>
                                                        @*   <div class="col-6"></div>
                                <div class="col-6">
                                <label for="TotalBeforeDiscount" class="form-label">Tax</label>
                                <input type="number" disabled class="form-control" id="Tax" />
                                </div> *@
                                                        <div class="col-6"></div>
                                                        <div class="col-6">
                                                            <label for="TotalBeforeDiscount" class="form-label">Total</label>
                                                            <input type="number" disabled class="form-control" id="Total" />
                                                        </div>
                                                    </div>


                                                </div>
                            }
                        }
                     

                    </div>
                </div>

                <div class="col-12 mt-4 mb-4">
                    <a style="float:right" class="btn btn-primary btn-sm" onclick="PostSaleOrder()">Submit</a>
                    <a style="float:right" class="btn btn-danger btn-sm">Cancel</a>
                </div>
           </div>
       </div>
      

    </div>
</div>

@* <div class="modal fade flip" id="CustomerlistModal" tabindex="-1" aria-labelledby="CustomerListModalLabel" aria-modal="true">
 *@
 <div class="modal modal-xl" id="CustomerlistModal" tabindex="-1" aria-labelledby="CustomerListModalLabel" aria-modal="true">
    <div class="modal-dialog zoomIn">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CustomerListModalLabel">Select Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="fixed-Customer" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                    <thead class="tablegrid">
                        <tr>

                            <th>Sr #</th>
                            <th>Customer Code</th>
                            <th>Customer Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int bpcount = 1;
                        }

                        @foreach (var value in ViewBag.BusinessPartners.value)
                        {
                            
                            <tr>
                                <td>
                                    @bpcount
                                </td>
                                <td>
                                    @value.CardCode
                                </td>
                                <td>
                                    @value.CardName
                                </td>

                                <td>
                                    <button onclick="SelectCustomer('@value.CardCode','@value.CardName')" class="btn btn-sm btn-secondary">
                                        Select
                                    </button>
                                </td>
                            </tr>
                            bpcount = bpcount + 1;
                        }
                       

                    </tbody>
                </table>

                <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div><!--end col-->

            </div>
        </div>
    </div>
</div>
<div class="modal modal-xl" id="TaxCodesModal" tabindex="-1" aria-labelledby="TaxCodesModalLabel" aria-modal="true">
    <div class="modal-dialog zoomIn">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TaxCodesModalLabel">Select Tax Codes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="fixed-Customer" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                    <thead class="tablegrid">
                        <tr>

                            <th>Sr #</th>
                            <th> Code</th>
                            <th> Name</th>
                            <th> Rate (%)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int taxcount = 1;
                        }

                        @foreach (var value in ViewBag.TaxCodes.value)
                        {
                            
                            <tr>
                                <td>
                                    @taxcount
                                </td>
                                <td>
                                    @value.Code
                                </td>
                                <td>
                                    @value.Name
                                </td>
                                <td>
                                    @value.Rate
                                </td>

                                <td>
                                    <button onclick="SelectTaxCode('@value.Code')" class="btn btn-sm btn-secondary">
                                        Select
                                    </button>
                                </td>
                            </tr>
                            taxcount = taxcount + 1;
                        }
                       

                    </tbody>
                </table>

                <div class="col-lg-12">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div><!--end col-->

            </div>
        </div>
    </div>
</div>

<input id="tempitemrow" value="0" hidden  />
<input id="logintype" value='@Context.Session.GetString("logintype")' hidden   />
<input id="pricelist" value='@Context.Session.GetString("PriceList")' hidden />
<input id="cardCode" value='@Context.Session.GetString("ID")' hidden />
<input id="cardName" value='@Context.Session.GetString("cardName")' hidden />
@section Script {
    <script src="~/cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script>

        $(document).ready(function () {
            debugger;
            $("#fixed-Customer").DataTable();
            $("#fixed-Items").DataTable();
            var logintype = $("#logintype").val();
            var cardCode = $("#cardCode").val();
            var cardName = $("#cardName").val();
            if (logintype == "1") {
                SelectCustomer(cardCode, cardName)
            }
        });

        function PostSaleOrder(){
            var sorder = new Object();
            var SaleOrderArr = new Array();


            sorder.CardCode = $("#CardCode").val();
            sorder.DocDueDate = $("#DocumentDate").val();
            sorder.DocDate = $("#PostingDate").val();
            sorder.TaxDate = $("#DeliveryDate").val();
            sorder.SalesPersonCode = $("#SalesEmployee").val();
            sorder.Comments = $("#Comment").val();
            sorder.NumAtCard = $("#CustomerRefNo").val();
            sorder.DiscountPercent = $("#DiscountPercent").val();

            $("#tablegridtbody tr").each(function () {
                var row = $(this);
                var Lineitems = new Object();


                Lineitems.ItemCode = row.find('.code').val();
                Lineitems.Quantity = row.find('.quantity').val();
                Lineitems.TaxCode = "";
                Lineitems.UnitPrice = row.find('.unitprice').val();
                Lineitems.DiscountPercent = row.find('.discount').val();
                Lineitems.TaxCode = row.find('.taxcode').val();

                SaleOrderArr.push(Lineitems);
            });

            sorder.DocumentLines = SaleOrderArr;
            var ModelData = JSON.stringify(sorder)
            $.ajax({
                type: 'Post',
                url: '/Sales/PostsaleOrder',
                dataType: "json",

                data: ModelData,
                contentType: 'application/json',
                success: function (response) {
                    debugger;
                    if(response.code==100){
                        Swal.fire({
                            title: "Success",
                            text: response.message,
                            icon: "success",
                            showCancelButton: !0,
                            customClass: {
                                confirmButton: "btn btn-primary w-xs me-2 mt-2",
                                cancelButton: "btn btn-danger w-xs mt-2"
                            },
                            confirmButtonText: "Okay",
                            buttonsStyling: !1,
                            showCloseButton: !0
                        }).then(function (t) {
                            location.reload(true);
                        })
                    }
                   else{
                        Swal.fire({
                            title: "Error",
                            text: response.message,
                            icon: "error",
                        });
                    }
                   
                }


            });

        }




    
        function AddContentRow() {
            debugger;
            var customerrow = "";
            var logintype = $("#logintype").val();
            
            if(logintype!="0"){
                var disbalewhecustomer ="disabled"
            }
          
                var rowno = parseInt($("#contentrowno").val());
            customerrow = "<td><input " + disbalewhecustomer + " id='unitprice_" + rowno + "' type='number' class='form-control unitprice'/></td><td><input " + disbalewhecustomer + "  type='number' class='form-control discount'/></td><td><input disabled type='number' class='form-control total'/></td>"

            var tr = "<tr id='contentrowno_" + rowno + "'><td>" + rowno + "</td>" +
                    "<td><div class='input-group input-group'><a class='input-group-text' onclick='OpenItemModal(" + rowno + ")'><i class='ri-file-list-fill'></i></a><input id='code" + rowno + "' type='text' disabled class='form-control code' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-sm'></div></td>" +
                    "<td><input id='description" + rowno + "' disabled class='form-control description'/></td><td><input type='number' class='form-control quantity'/></td>"+
                "<td><div class='input-group input-group'><a class='input-group-text' onclick='OpenTaxCodeModal(" + rowno + ")'><i class='ri-file-list-fill'></i></a><input id='taxcode" + rowno + "' type='text' disabled class='form-control taxcode' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-sm'></div></td>" +
                customerrow+
                    "<td><i onclick='DeleteRow(" + rowno + ")' class='ri-delete-bin-5-line'></i></td></tr>";
                $("#tablegridtbody").append(tr);
                rowno = rowno + 1;
                $("#contentrowno").val(rowno);
            // }
        

            // else{
            //     var rowno = parseInt($("#contentrowno1").val());
            //     var tr = "<tr id='contentrowno1_" + rowno + "' ><td>" + rowno + "</td> <td><input class='form-control description type='text'/></td>" +
            //         "<td><div class='input-group input-group'> <span class='input-group-text'><i class='ri-file-list-fill'></i></span> <input type='text' class='form-control' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-sm'></div></td>" +
            //         "<td> <input disabled class='form-control description'/> </td> <td> <input type='text'  class='form-control taxcode'/> </td></td><td> <input type='number'  class='form-control total'/></td><td><i onclick='DeleteRow(" + rowno + ")' class='ri-delete-bin-5-line'></i></td></tr>";
            //     $("#tablegridtbody1").append(tr);
            //     rowno = rowno + 1;
            //     $("#contentrowno1").val(rowno)
            // }
        }
        function DeleteRow(rowno) {
          // var type=  $("#ItmOrServ").val();
          //   if (type == "item") {
                $("#contentrowno_" + rowno).remove();
            // }
            // else {
            //     $("#contentrowno1_" + rowno).remove();
            // }
           
        }

        $("#ItmOrServ").change(function () {
            var type = $(this).val();
            if (type == "item") {
                $("#Itemtype").removeClass("hide");
                $("#Servicetype").addClass("hide");
            }
            else{
                $("#Servicetype").removeClass("hide");
                $("#Itemtype").addClass("hide");
            }
        });
        function OpenItemModal(rownum){
            $("#tempitemrow").val(rownum);
            $("#ItemslistModal").modal("show");

        }
        function OpenTaxCodeModal(rownum) {
            $("#tempitemrow").val(rownum);
            $("#TaxCodesModal").modal("show");

        }
        function SelectCustomer(cardCode,cardName){
            debugger;
            $("#CardCode").val(cardCode);
            $("#CardName").val(cardName);
            $("#CustomerlistModal").modal("hide");
            GetContactPersonAgainstCustomer(cardCode)
        }
        function SelectItem(itemcode,itemname){
            debugger;
           var rownum= $("#tempitemrow").val();
            $("#code" + rownum).val(itemcode);
            $("#description" + rownum).val(itemname);
            $("#ItemslistModal").modal("hide");
            var pricelist = $("#pricelist").val();
            GetPriceOfItem(itemcode, pricelist, rownum)
        }

        function SelectTaxCode(taxcode) {
            debugger;
           var rownum= $("#tempitemrow").val();
            $("#taxcode" + rownum).val(taxcode);
            $("#TaxCodesModal").modal("hide");
        }
     
      function  GetContactPersonAgainstCustomer(cardCode){
          debugger;
            $.ajax({
                type: 'GET',
                url: '/Sales/GetContactPersonAgainstCustomer',
                dataType: "json",

                data: { cardCode: cardCode },
                contentType: 'application/json',
                success: function (response) {
                    debugger;
                    $("#ContactPerson").empty();
                    $.each(response, function (index, item) {
                        $("#ContactPerson").append("<option value='" + item.cntctCode + "'>" + item.name + "</option>")

                    });
                  
                    }

           
          });
      }

        function GetPriceOfItem(itemcode,pricelist,rownum) {
          debugger;
            $.ajax({
                type: 'GET',
                url: '/Sales/GetPriceOfItem',
                dataType: "json",

                data: { itemcode: itemcode, pricelist: pricelist },
                contentType: 'application/json',
                success: function (response) {
                    debugger;
                    var price = response.value[0].price;
                    $("#unitprice_" + rownum).val(price);
                }
           
          });
      }

        $('body').on('change', '.quantity', Calculatetotals);
        $('body').on('change', '.unitprice', Calculatetotals);
        $('body').on('change', '.discount', Calculatetotals);
        $('body').on('change', '#DiscountPercent', CalculateFootertotals);



        function Calculatetotals() {
            $that = $(this);
            debugger;
            var quantity = $that.closest("tr").find(".quantity").val() == "" ? 0 : parseFloat($that.closest("tr").find(".quantity").val());
            var unitprice = $that.closest("tr").find(".unitprice").val() == "" ? 0 : parseFloat($that.closest("tr").find(".unitprice").val());
            var discount = $that.closest("tr").find(".discount").val() == "" ? 0 : parseFloat($that.closest("tr").find(".discount").val());
            if (discount > 100) {
                $that.closest("tr").find(".discount").val(100);
                discount = 100;
            }
            var linetotal = (quantity * unitprice) ;
            var discounttotal = (discount / 100) *linetotal;
            var originaltotal = linetotal - discounttotal;
            $that.closest("tr").find(".total").val(originaltotal);
            var totaltotal = 0;
            $("#tablegridtbody tr").each(function () {

                $row = $(this);
                totaltotal = totaltotal + parseFloat($row.closest("tr").find(".total").val() == "" ? 0 : $row.closest("tr").find(".total").val());
            
            
            });
            $("#TotalBeforeDiscount").val(totaltotal);
            var totaldiscountper = $("#DiscountPercent").val() == "" ? 0 : parseFloat($("#DiscountPercent").val());

            if (totaldiscountper > 100) {
                totaldiscountper = 100;
            }
            var totaldiscountamount = (totaldiscountper / 100) * totaltotal;
            var totalafterdiscount = totaltotal - totaldiscountamount;
            debugger;

            $("#DiscountAmount").val(totaldiscountamount.toFixed(2));
            $("#Total").val(totalafterdiscount.toFixed(2));




        }


        function CalculateFootertotals(){
            var discountpercentage = $("#DiscountPercent").val();
            if (discountpercentage>100){
                discountpercentage = 100;
            }
            var TotalBeforeDiscount= $("#TotalBeforeDiscount").val();
            var discountamount = (discountpercentage / 100) * TotalBeforeDiscount;
            $("#DiscountAmount").val(discountamount.toFixed(2));
            $("#Total").val((TotalBeforeDiscount - discountamount).toFixed(2));

        }

    </script>
}