@{
    ViewData["Title"] = "Sales Return List";
}

@section CSS {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}



<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h5 style="font-size:32px" class="card-title mb-0 flex-grow-1">Sales Return List</h5>
                            <div class="flex-shrink-0">
                                <div class="d-flex gap-2 flex-wrap">
                                    @*    <button class="btn btn-primary" id="remove-actions" onclick="deleteMultiple()" style="display: none;"><i class="ri-delete-bin-2-line"></i></button> *@
@*                                     <a href="/Sales/AddSaleOrder" class="btn btn-danger"><i class="ri-add-line align-bottom me-1"></i> Add Sale Order</a>
 *@                                </div>
                            </div>
                        </div>
                        @*   <h5 class="card-title mb-0">  Sales Order List <a style="float:right" href="/Sales/AddSaleOrder" class="btn btn-primary btn-sm"> <i class="ri-file-add-line"></i> Add Sale Order</a></h5> *@
                    </div>
                    <div class="card-body">
                        <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                            <thead class="tablegrid">
                                <tr>

                                    <th>Sr #</th>
                                    <th>Doc Num</th>
                                    <th>Customer</th>
                                    <th>Name</th>
                                    <th>Doc Date</th>
                                    <th>Due Date</th>
                                    <th>Doc Total</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        
                            <tbody>
                                @{
                                    int srno = 1;
                                    foreach (var value in ViewBag.SalesReturn)
                                    {
                                                <tr>
                                                    <td>@srno</td>
                                                    <td>@value.DocNum</td>
                                                    <td>@value.CardCode</td>
                                                    <td>@value.CardName</td>
                                                    <td>@value.DocDate</td>
                                                    <td>@value.DocDueDate</td>
                                                    <td>@value.DocTotal</td>

                                                    <td>
                                                        @{
                                                    if (value.DocStatus == "O")
                                                    {
                                                                        <span class="badge bg-success-subtle text-success text-uppercase">Open</span>
                                                    }
                                                    else
                                                    {

                                                                        <span class="badge bg-success-subtle text-success text-uppercase">@value.DocStatus</span>

                                                    }
                                                        }


                                                    <td>
                                                        <a onclick="GetSingleSalesReturn('@value.DocEntry')" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#CustomerlistModal"><i class="ri-eye-fill align-bottom me-2"></i></a>
                                                    </td>
                                                </tr>
                                        srno = srno + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div><!--end row-->

        </div>

    </div>
</div>
<div class="modal modal-lg" id="CustomerlistModal" tabindex="-1" aria-labelledby="CustomerlistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CustomerlistModalLabel">Return Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">

                        <div class="col-6">
                            <label for="CardCode" class="form-label">Customer</label>
                        <div class="input-group">
                            <input type="text" id="CardCode"disabled class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                        <div class="col-6">
                            <label for="CardName" class="form-label">Customer Name</label>
                            <input class="form-control" disabled id="CardName" />
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="ContactPerson" class="form-label">Contact Person</label>
                            <input class="form-control" disabled id="ContactPerson" />

                    </div>
                        <div class="col-6">
                            <label for="CustomerRefNo" class="form-label">Customer Ref No.</label>
                            <input class="form-control" disabled id="CustomerRefNo" />
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="Series" class="form-label">Series</label>
                            <input class="form-control" disabled id="Series" />
                        </div>
                        <div class="col-6">
                            <label for="DocNum" class="form-label">No.</label>
                            <input id="DocNum" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row">

                    <div class="col-6">
                        <label for="Status" class="form-label">Status</label>
                        <input disabled class="form-control" value="Open" id="Status" />
                    </div>
                    <div class="col-6">
                        <label for="PostingDate" class="form-label">Posting Date</label>
                            <input disabled type="date" class="form-control" id="PostingDate" value="2024-12-03" />
                    </div>
                    </div>
                    <div class="row">

                    <div class="col-6">
                        <label for="DeliveryDate" class="form-label">Delivery Date</label>
                            <input disabled type="date" class="form-control" id="DeliveryDate" value="2024-12-07" />
                    </div>
                    <div class="col-6">
                        <label for="DocumentDate" class="form-label">Document Date</label>
                            <input disabled type="date" class="form-control" id="DocumentDate" value="2024-12-03" />
                    </div>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#ContentsTab" role="tab" aria-selected="true">Contents</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="ContentsTab" role="tabpanel">
                                <div class="row">
                                    @*  <div class="col-2">
                                        <label for="ItmOrServ">Item Type</label>
                                        <select id="ItmOrServ" class="form-control">
                                            <option value="item">Item</option>
                                           <option value="service">Service</option> 
                                        </select>
                                    </div>
                                    <div class="col-8"></div>
                                    <div class="col-2">
@*                                         <a class="btn btn-primary btn-sm" style="float:right" onclick="AddContentRow()">Add Row</a>
                                           
                                    </div>*@
                                </div>
                                <div id="Itemtype" class="row mt-2">
                                    <input type="number" hidden id="contentrowno" value="1" />
                                    <div class="col-12">
                                        <table class="table w-100" style="min-height:150px;overflow-y:scroll">
                                            <thead class="tablegrid">
                                                <tr>
                                                    <th>Sr #</th>
                                                    <th>Item Code</th>
                                                    <th>Item Description</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Tax</th>
                                                    <th>Discount %</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tablegridtbody">

                                                <!-- Table rows will be dynamically added here -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- Additional buttons or footer content can be added here -->
            </div>
        </div>
    </div>
</div>

@section Script {
    <!--datatable js-->


    <script src="~/cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    @*     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
 *@

    <script>

        $(document).ready(function () {
            $("#fixed-header").dataTable({ dom: "Bfrtip", buttons: ["copy", "csv", "excel", "print", "pdf"],
                "pageLength": 50
            });
        });
        function GetSingleSalesReturn(docNum) {
            debugger;
            $.ajax({
                type: 'GET',
                url: '/Sales/GetSingleSalesReturn',
                dataType: "json",

                data: { docNum: docNum },
                contentType: 'application/json',
                success: function (response) {
                    debugger;
                    $("#CardCode").val(response.CardCode);
                    $("#CardName").val(response.CardName);
                    $("#ContactPerson").val(response.ContactPersonCode);
                    $("#DocNum").val(response.DocNum);
                    $("#Series").val(response.Series);
                    $("#CustomerRefNo").val(response.NumAtCard);
                    $("#PostingDate").val(response.DocDate.split("T")[0]);
                    $("#DeliveryDate").val(response.TaxDate.split("T")[0]);
                    $("#DocumentDate").val(response.DocDate.split("T")[0]);
                    // $("#DocumentDate").val(response.DocDate);


                    $("#tablegridtbody").empty();
                    var sr = 1;
                    $.each(response.DocumentLines, function (index, item) {

                        debugger;
                        var tr = "<tr>" +
                            "<td>"+sr+"</td>" +
                            "<td>" + item.ItemCode + "</td>" +
                            "<td>" + item.ItemDescription + "</td>" +
                            "<td>" + item.Quantity + "</td>" +
                            "<td>" + item.Price + "</td>" +
                            "<td>" + item.TaxCode + "</td>" +
                            "<td>" + item.DiscountPercent + "</td>" +
                            "<td>" + item.LineTotal + "</td>" +
                            "</tr>";
                        $("#tablegridtbody").append(tr)
                        sr++;
                    });

                }


            });
        }

    </script>
}