@{
    ViewData["Title"] = "Sales Order List";
}

@section CSS{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}



<div class="container-fluid">
    <div class="row">
      
        <div class="col-12">
            <div class="row">
                    <div class="card">
                        <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h5 style="font-size:32px" class="card-title mb-0 flex-grow-1">Sales Order List</h5>
                            <div class="flex-shrink-0">
                                <div class="d-flex gap-2 flex-wrap">
                                 @*    <button class="btn btn-primary" id="remove-actions" onclick="deleteMultiple()" style="display: none;"><i class="ri-delete-bin-2-line"></i></button> *@
                                  @*   @if (Context.Session.GetString("logintype") == "0")
                                    { *@
                                        <a href="/Sales/AddSaleOrder" class="btn btn-danger"><i class="ri-add-line align-bottom me-1"></i> Add Sale Order</a>

                                @*     } *@
                                </div>
                            </div>
                        </div>
                      @*   <h5 class="card-title mb-0">  Sales Order List <a style="float:right" href="/Sales/AddSaleOrder" class="btn btn-primary btn-sm"> <i class="ri-file-add-line"></i> Add Sale Order</a></h5> *@
                        </div>
                        <div class="card-body">
                            <table id="fixed-header" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                            <thead class="tablegrid">
                                <tr>
                                   
                                        <th>Sr #</th>
                                        <th>Doc Num</th>
                                        <th>Customer</th>
                                        <th>Name</th>
                                        <th>Doc Date</th>
                                        <th>Due Date</th>
                                         <th>Doc Total</th> 
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @{
                                    int srno = 1;
                                    foreach (var value in ViewBag.SalesOrders)
                                    {
                                        <tr>
                                            <td>@srno</td>
                                            <td>@value.DocNum</td>
                                            <td>@value.CardCode</td>
                                            <td>@value.CardName</td>
                                            <td>@value.DocDate</td>
                                            <td>@value.DocDueDate</td>
                                            <td>@value.DocTotal</td>
                                       
                                            <td>@{
                                                    if (value.DocStatus == "O")
                                                    {
                                                        <span class="badge bg-success-subtle text-success text-uppercase">Open</span>
                                                    }
                                                    else
                                                    {

                                                        <span class="badge bg-success-subtle text-success text-uppercase">@value.DocStatus</span>

                                                    }
                                                }
                                            
                                          
                                            <td>
                                                <a class="btn btn-sm btn-secondary" href="/Sales/ViewSaleOrder?docNum=@value.DocEntry"><i class="ri-eye-fill align-bottom me-2"></i></a>
                                                    @if (Context.Session.GetString("logintype") == "0")
                                                    {
                                                    <a onclick="ClosesaleOrder('@value.DocEntry')" class="btn btn-sm btn-danger"><i class="ri-delete-bin-fill align-bottom me-2"></i></a>

                                                    }
                                             </td>
                                        </tr>
                                        srno = srno+1;
                                    }
                                }
                          
                              </tbody>
                            </table>
                        </div>
                    </div>
            </div><!--end row-->

        </div>

    </div>
</div>

@section Script{
    <!--datatable js-->


    <script src="~/cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
 *@

    <script>

        $(document).ready(function () {
            $("#fixed-header").dataTable({ dom: "Bfrtip", buttons: ["copy", "csv", "excel", "print", "pdf"], "pageLength": 20 });

        });

        function ClosesaleOrder(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: !0,
                customClass: {
                    confirmButton: "btn btn-primary w-xs me-2 mt-2",
                    cancelButton: "btn btn-danger w-xs mt-2"
                },
                confirmButtonText: "Yes, delete it!",
                buttonsStyling: !1,
                showCloseButton: !0
            }).then(function (t) {
                ConfirmClosesaleOrder(id)
            })
        }

        function ConfirmClosesaleOrder(docnum) {
            debugger;
            $.ajax({
                type: 'GET',
                url: '/Sales/ClosesaleOrder',
                dataType: "json",

                data: { docNum: docnum },
                contentType: 'application/json',
                success: function (response) {

                    if (response.code == 100) {
                        Swal.fire({
                            title: "Success",
                            text: response.message,
                            icon: "success",
                            showCancelButton: !0,
                            customClass: {
                                confirmButton: "btn btn-primary w-xs me-2 mt-2",
                                cancelButton: "btn btn-danger w-xs mt-2"
                            },
                            confirmButtonText: "Okay",
                            buttonsStyling: !1,
                            showCloseButton: !0
                        }).then(function (t) {
                            location.reload(true);
                        })
                    }
                    else {
                        Swal.fire({
                            title: "Error",
                            text: response.message,
                            icon: "error",
                        });
                    }

                }


            });
        }

    </script>
}