<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">
<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - B1WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/js/layout.js"></script>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <style>
        .form-control {
            height: 25px;
            padding: 0.1rem .9rem;
            line-height: 1.25;
        }

     
        .input-group-text {
            padding: 0.1rem .5rem;
        }

        .tablegrid{
            background: #405189;
            color:#fff;
        }

        .dt-button, .dt-button:hover {
            background: #405189 !important;
            color: #fff !important;
        }
        .hide{
           display:none;
        }

        .navbar-menu .navbar-nav .nav-link {
            padding: .125rem 1.5rem;
            font-size: 12px !important;
           

        }

        .nav-link.menu-link{
            border-bottom: 1px solid;
        }

        .navbar-menu .navbar-nav .nav-sm .nav-link {
            padding: .55rem 1rem !important;
           
            font-size: 11px !important;

        }

        .nav-link.menu-link.collapsed{
            border-bottom: 1px solid;
        }

        .navbar-brand-box {
            border-bottom: 1px solid #fff;
        }

        input[type="date"]::placeholder {
            font-size: 12px; /* Adjust the font size as needed */
        }

        .form-label {
            margin-bottom: .2rem;
            font-size: 12px;
        }
    </style>
    @await RenderSectionAsync("CSS", required: false)
</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="/Home/index" class="logo logo-dark">
                                <span class="logo-sm">
                            @*         <img src="assets/images/logo-sm.png" alt="" height="22"> *@
                                    <img src="~/sap-business-one-logo.png" alt="" height="22" />
                                </span>
                                <span class="logo-lg">
                                   @*  <img src="assets/images/logo-dark.png" alt="" height="17"> *@
                                    <img src="~/sap-business-one-logo.png" alt="" height="17" />
                                </span>
                            </a>

                            <a href="/Home/index" class="logo logo-light">
                                <span class="logo-sm">
                                    @*         <img src="assets/images/logo-sm.png" alt="" height="22"> *@
                                    <img src="~/sap-business-one-logo.png" alt="" height="22" />
                                </span>
                                <span class="logo-lg">
                                    @*  <img src="assets/images/logo-dark.png" alt="" height="17"> *@
                                    <img src="~/sap-business-one-logo.png" alt="" height="17" />
                                </span>
                            </a>

                        </div>

                        <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger material-shadow-none" id="topnav-hamburger-icon">
                            <span class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>
                    </div>

                    <div class="d-flex align-items-center">

                        <div class="dropdown d-md-none topbar-head-dropdown header-item">
                            <button type="button" class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-search fs-22"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                  

                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar material-shadow-none btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                                <i class='bx bx-fullscreen fs-22'></i>
                            </button>
                        </div>

                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    
                                    <img class="rounded-circle header-profile-user" onerror="this.src ='/no-img.svg'" src=" @Context.Session.GetString("image")" alt="Header Avatar">
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">@Context.Session.GetString("UserName")</span>
                                        <span class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">@Context.Session.GetString("CompanyName")</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                              @*   <h6 class="dropdown-header">Welcome Anna!</h6>
                                <a class="dropdown-item" href="pages-profile.html"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span></a>
                                <a class="dropdown-item" href="apps-chat.html"><i class="mdi mdi-message-text-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Messages</span></a>
                                <a class="dropdown-item" href="apps-tasks-kanban.html"><i class="mdi mdi-calendar-check-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Taskboard</span></a>
                                <a class="dropdown-item" href="pages-faqs.html"><i class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Help</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="pages-profile.html"><i class="mdi mdi-wallet text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Balance : <b>$5971.67</b></span></a>
                                <a class="dropdown-item" href="pages-profile-settings.html"><span class="badge bg-success-subtle text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Settings</span></a>
                                <a class="dropdown-item" href="auth-lockscreen-basic.html"><i class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Lock screen</span></a> *@
                                <a class="dropdown-item" href="/Account/SignOut"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- removeNotificationModal -->
        <div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you sure ?</h4>
                                <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/Home/index" class="logo logo-dark">
                    <span class="logo-sm">
                       SAP
                    </span>
                    <span class="logo-lg">
                        <img src="~/sap-business-one-logo.png" alt="" height="30" />
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/Home/index" class="logo logo-light">
                    <span class="logo-sm">
                      SAP
                    </span>
                    <span class="logo-lg">
                        <img src="~/sap-business-one-logo.png" alt="" height="30" />
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div class="dropdown sidebar-user m-1 rounded">
                <button type="button" class="btn material-shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex align-items-center gap-2">
                        <img class="rounded header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
                        <span class="text-start">
                            <span class="d-block fw-medium sidebar-user-name-text">Anna Adame</span>
                            <span class="d-block fs-14 sidebar-user-name-sub-text"><i class="ri ri-circle-fill fs-10 text-success align-baseline"></i> <span class="align-middle">Online</span></span>
                        </span>
                    </span>
                </button>
             
            </div>
            <div id="scrollbar">
                <div class="container-fluid">


                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Modules</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/Home/index">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Dashboard</span>
                            </a>
                        </li>
                        @{
                            if (Context.Session.GetString("logintype") == "0")
                            {
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#sidebarAdministrator" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAdministrator">
                                        <i class="ri-admin-fill"></i> <span data-key="t-layouts">Administrator</span>
                                    </a>
                                    <div class="collapse menu-dropdown" id="sidebarAdministrator">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="/Administrator/manageUser" class="nav-link">Manage Users</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/Administrator/CompanyConfiguration" class="nav-link">Manage Company Configuration</a>
                                            </li>

                                        </ul>
                                    </div>
                                </li> <!-- end Administrator Menu -->
                            }
                        }
                       
                        
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarSales" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSales">
                                <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Sales - A/R</span> 
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarSales">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Sales/SalesOrder" class="nav-link">Sales Order</a>
                                    </li>

                                </ul> 
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Sales/SalesReturn" class="nav-link">Sales Return</a>
                                    </li>

                                </ul>
                            </div>
                        </li> <!-- end Sales Menu --> 
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarInvoice" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInvoice">
                                <i class="ri-layout-3-line"></i> <span data-key="t-layouts">A/R - Invoice</span> 
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarInvoice">
                               
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Sales/ARInvoice" class="nav-link">Invoice</a>
                                    </li>

                                </ul>
                                
                            </div>
                        </li> <!-- end invoice Menu -->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarinventory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarinventory">
                                <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Inventory</span> 
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarinventory">
                               
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Sales/Inventory " class="nav-link">Item Master Data </a>
                                    </li>

                                </ul>
                            </div>
                        </li> <!-- end invoice Menu -->
                         <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarBP" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBP">
                                <i class="ri-layout-3-line"></i> <span data-key="t-layouts"> Business Partner</span> 
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarBP">
                               
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/Customer/Index" class="nav-link">Business Partner Master Data </a>
                                    </li>

                                </ul>
                            </div>
                        </li> <!-- end invoice Menu -->

                      

                    

                      
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">

                @RenderBody()
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © SAP B1Web.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                @* Design & Develop by Themesbrand *@
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>



    <!-- JAVASCRIPT -->

    <script src="~/code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

 

    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/js/pages/dashboard-ecommerce.init.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/assets/js/app.js"></script>
   @await RenderSectionAsync("Script", required: false)
</body>


</html>